body {
    background-image: url("../../Image/bg1.png");
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

#judul {
    background-image: url("../../Image/flo1.jpg");
    background-size: cover;
    background-position: center;
}

h2 {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
    background: rgba(152, 152, 156, 0.5);
    width: 100%;
}

.card {
    background-color: #F1F1F1;
    width: 300px;
    height: 320px;
    margin: 0 auto 8.1rem auto;
}

.link a {
    text-decoration: none;
    color: #6E4BC7;
}

.link {
    text-align: center;
}

a:hover {
    background-image: url("../../Image/bg2.png");
    color: #FFF;
    font-weight: bolder;
}